<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Pearl</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <link rel="icon" type="image/png" href="images/favicon-pearl.png">
    <!--main file-->
    <link href="css/pearl-restaurant.css" rel="stylesheet" type="text/css">
    <!--Medical Guide Icons-->
    <link href="fonts/pearl-icons.css" rel="stylesheet" type="text/css">
    <!-- Default Color-->
    <link href="css/default-color.css" rel="stylesheet" id="color" type="text/css">
    <!--bootstrap-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <!--Dropmenu-->
    <link href="css/dropmenu.css" rel="stylesheet" type="text/css">
    <!--Sticky Header-->
    <link href="css/sticky-header.css" rel="stylesheet" type="text/css">
    <!--Sticky Countdown-->
    <link href="css/countdown.css" rel="stylesheet" type="text/css">
    <!--revolution-->
    <link href="css/settings.css" rel="stylesheet" type="text/css">
    <link href="css/extralayers.css" rel="stylesheet" type="text/css">
    <!--Owl Carousel-->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <!--Date Picker-->
    <link href="css/date-pick.css" rel="stylesheet" type="text/css">
    <!--Form Dropdown-->
    <link href="css/form-dropdown.css" rel="stylesheet" type="text/css">
    <!-- Mobile Menu -->
    <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" />
    <!--PreLoader-->
    <link href="css/loader.css" rel="stylesheet" type="text/css">
    <!--switcher-->
    <link href="css/switcher.css" rel="stylesheet" type="text/css">

    <script src="js/app.js"></script>
    <script src-"js/value.js"></script>
    <script src="js/controllers/menuController.js"></script>
    <script src="js/controllers/homeLinkController.js"></script>
    <script src="js/controllers/blogController.js"></script>
    <script src="js/controllers/indexController.js"></script>
    <script src="js/controllers/foodController.js"></script>
    <script src="js/controllers/aboutController.js"></script>
    <script src="js/controllers/contactSocialController.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/routes.js"></script>
</head>

<body ng-app="restro">
    <!--Switcher-->
    <div class="color-switcher" id="choose_color">
        <a ng-href="#." class="picker_close">
            <i class="fa fa-gear"></i>
        </a>
        <h5>STYLE SWITCHER</h5>
        <div class="theme-colours">
            <p>Choose Colour style</p>
            <ul>
                <li>
                    <a ng-href="#." class="light-blue" id="light-blue"></a>
                </li>
                <li>
                    <a ng-href="#." class="red" id="red"></a>
                </li>
                <li>
                    <a ng-href="#." class="green" id="green"></a>
                </li>
                <li>
                    <a ng-href="#." class="light-green" id="light-green"></a>
                </li>
                <li>
                    <a ng-href="#." class="orange" id="orange"></a>
                </li>
            </ul>
            <span class="note">
                <strong>Note:</strong> you can add your own color just replace your color code in css file.</span>
        </div>
        <div class="choose-header">
            <p>Choose Header</p>
            <a ng-href="#." id="header-one">One</a>
            <a ng-href="#." id="header-two">Two</a>
        </div>
        <div class="choose-footer">
            <p>Choose Footer</p>
            <a ng-href="#." id="dark">Dark</a>
            <a ng-href="#." id="light">Light</a>
        </div>
        <div class="clr"></div>
    </div>
    <div id="wrap">
        <!--Start PreLoader-->
        <div id="preloader">
            <div id="status">&nbsp;</div>
            <div class="loader">
                <h1>Loading...</h1>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!--End PreLoader-->
        <!--Start Header-->
        <div id="header-1">
            <header class="header-two">
                <div class="container">
                    <a ng-href="#/index-1">
                        <img class="logo2" src="images/logo2.png" alt="">
                    </a>
                    <a ng-href="#/index-1">
                        <img class="logo-dark" src="images/logo-dark.png" alt="">
                    </a>
                    <div class="cont-right">
                        <nav class="menu-5 nav">
                            <ul class="wtf-menu">
                                <li class="select-item">
                                    <a ng-href="#.">Home</a>
                                    <ul class="submenu" ng-controller="homeLinkController">
                                        <div ng-repeat="link in links">
                                                <li>
                                                    <a ng-href="{{link.homelink}}">{{link.hometitle}}</a>
                                                </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <a ng-href="#.">Menu</a>
                                    <ul class="submenu" ng-controller="menuController">
                                        <div ng-repeat="menu in menus">
                                                <li>
                                                    <a ng-href="{{menu.menulink}}">{{menu.menutitle}}</a>
                                                </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <a ng-href="#/our-story">our story</a>
                                </li>
                                <li class="parent">
                                    <a ng-href="#.">Blog</a>
                                    <ul class="submenu" ng-controller="blogController">
                                        <div ng-repeat="blog in blogs">
                                            <li>
                                                <a ng-href="{{blog.bloglink}}">{{blog.blogtitle}}</a>
                                            </li>
                                        </div>
                                        
                                    </ul>
                                </li>
                                <li ng-controller="aboutController">
                                    <a href="#.">Contact Us</a>
                                    <ul class="submenu">
                                            <div ng-repeat="contact in contacts">
                                                    <li>
                                                        <!-- <a ng-href="#/contact-us">contact-us 1</a> -->
                                                        <a ng-href="{{contact.link}}">{{contact.head}}</a>
                                                     </li>
                                            </div>  
                                            
                                    <!-- <li>
                                            <a ng-href="#/contact-us2">contact-us 2</a>
                                           </li> -->
                                    </ul> 
                                 </li>
                                    <li>
                                        <a ng-href="#/shop">online order</a>
                                    </li>
                            </ul>
                        </nav>
                        <ul class="social-icons" ng-controller="indexController">
                            <li>
                                <a href="{{result.icon-link}}">
                                    <i class="{{result.icon-name}}"></i>
                                </a>
                            </li>
                            <!-- <li>
                                <a ng-href="#.">
                                    <i class="icon-twitter-1"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-href="#.">
                                    <i class="icon-google"></i>
                                </a>
                            </li> -->
                        </ul>
                        <ul class="shop-bag" ng-controller="foodController">
                            <li class="close-bag">
                                <a class="cart-button">
                                    <i class="icon-icons163"></i>
                                    <span class="num">2</span>
                                </a>
                            </li>
                            <li class="open-bag">
                                <div class="cart-food" ng-repeat="food in result.foods">
                                    <div class="detail">
                                        <img ng-src="{{food.locationUrl}}" alt="">
                                        <div class="text">
                                            <a ng-href="#.">{{food.name}}</a>
                                            <p>${{food.price}}</p>
                                        </div>
                                    </div>
                                    <a ng-href="#." class="cross">
                                        <i class="icon-cancel2"></i>
                                    </a>
                                </div>
                                
                                <div class="sub-total">
                                    <span>SUBTOTAL:
                                        <strong>$115.00</strong>
                                    </span>
                                    <div class="buttons">
                                        <a ng-href="#." class="view-cart">view cart</a>
                                        <a ng-href="#." class="check-out">Check Out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="get-touch">
                            <li class="contact-no">
                                <a>
                                    <i class="icon-telephone-receiver"></i>
                                    <span>+123 55 33 444</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>
        <!--End Header-->
        <!--Start Header-->
        <div id="header-2" style="display:none">
            <header class="header">
                <a ng-href="#/index">
                    <img class="logo" src="images/logo.png" alt="">
                </a>

                <nav class="menu-5 nav">
                    <ul class="wtf-menu">
                        <li class="parent">
                            <a class="select-item" ng-href="#.">Home</a>

                            <ul class="submenu">
                                <li>
                                    <a ng-href="#/index" class="select">Home 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/index2">Home 2</a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a ng-href="#.">Menu</a>

                            <ul class="submenu">
                                <li>
                                    <a ng-href="#/menu">menu 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/menu2">menu 2</a>
                                </li>
                                <li>
                                    <a ng-href="#/menu3">menu 3</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a ng-href="#/our-story">our story</a>
                        </li>
                        <li class="parent">
                            <a ng-href="#.">Blog</a>

                            <ul class="submenu">
                                <li>
                                    <a ng-href="#/blog">blog 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/blog2">blog 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#.">contact us</a>

                            <ul class="submenu">
                                <li>
                                    <a ng-href="#/contact-us">contact-us 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/contact-us2">contact-us 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#/shop">online order</a>
                        </li>
                    </ul>
                </nav>
                <ul class="get-touch">
                    <li class="contact-no">
                        <a>
                            <i class="icon-telephone-receiver"></i>
                            <span>+123 55 33 444 888</span>
                        </a>
                    </li>
                    <li class="book-table">
                        <a ng-href="#book-table" class="topLink">
                            <span>book a table</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </header>
        </div>

        <!--End Header-->
        <!-- Mobile Menu Start -->
        <div class="container">
            <div id="page">
                <header class="header">
                    <a ng-href="#menu"></a>
                </header>
                <nav id="menu">
                    <ul>
                        <li class="select">
                            <a ng-href="#.">Home</a>
                            <ul>
                                <li class="select">
                                    <a ng-href="#/index">Home Page 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/index2">Home Page 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#.">Fresh Menu</a>
                            <ul>
                                <li>
                                    <a ng-href="#/menu">Menu 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/menu2">Menu 2</a>
                                </li>
                                <li>
                                    <a ng-href="#/menu3">Menu 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#/our-story">Our Story</a>
                        </li>
                        <li>
                            <a ng-href="#.">Blog</a>
                            <ul>
                                <li>
                                    <a ng-href="#/blog">Blog 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/blog2">Blog 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#.">Contact Us</a>
                            <ul>
                                <li>
                                    <a ng-href="#/contact-us">Contact-us 1</a>
                                </li>
                                <li>
                                    <a ng-href="#/contact-us2">Contact-us 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-href="#/shop">Order Online</a>
                        </li>
                        <li>
                            <a ng-href="#book-table">Book a Table</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Mobile Menu End -->
        <!--Start Banner-->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">

                        <img src="images/banenr-img1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption arrowicon customin  rs-parallaxlevel-10" data-x="center" data-y="380" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="850" data-start="1500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="1000">
                            <img src="images/flower.png" alt="">
                        </div>
                        <div class="tp-caption grey_heavy_72 customin tp-resizeme rs-parallaxlevel-10" data-x="center" data-y="456" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="850" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="1000" style="font-size:72px; z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Art of Cooking
                        </div>
                        <div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="538" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.05" data-endelementdelay="0.1" style="font-size:28px; z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div style="text-align:left;">The Best restaurant in town</div>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">

                        <img src="images/banenr-img2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption grey_heavy_72 customin tp-resizeme rs-parallaxlevel-10" data-x="0" data-y="376" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="850" data-start="2500" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none"
                            data-elementdelay="0.1" data-endelementdelay="0.1" style="font-size:72px; z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">quality food
                        </div>


                        <div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="468" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500" data-start="3500" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none"
                            data-elementdelay="0.1" data-endelementdelay="0.1" style="font-size:28px; z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div style="text-align:left;">fine food & dining since 1880</div>
                        </div>


                        <div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="560" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800" data-start="5900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div style="text-align:left;">
                                <a ng-href="#book-table" class="read-more" style=" line-height: initial; color: #fff;  border:solid 2px #fff; text-transform: uppercase; font-weight: 500; letter-spacing: 0px; padding: 16px 36px; display: inline-block; font-size: 18px;">Book your table</a>
                                <a ng-href="#/login" class="read-more" style=" line-height: initial; color: #fff;  border:solid 2px #fff; text-transform: uppercase; font-weight: 500; letter-spacing: 0px; padding: 16px 36px; display: inline-block; font-size: 18px;">Login</a>
                            </div>
                        </div>
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                        <img src="images/banenr-img3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption arrowicon customin  rs-parallaxlevel-10" data-x="center" data-y="330" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="850" data-start="1500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="1000">
                            <img src="images/flower.png" alt="">
                        </div>


                        <div class="tp-caption grey_heavy_72 customin tp-resizeme rs-parallaxlevel-10" data-x="center" data-y="406" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="850" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="1000" style="font-size:72px; z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">real taste real food
                        </div>


                        <div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="498" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="500" data-start="3500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.05" data-endelementdelay="0.1" style="font-size:28px; z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div style="text-align:left;">the passion for the perfect taste</div>
                        </div>


                        <div class="tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="580" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800" data-start="4200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div style="text-align:left; ">
                                <a ng-href="shop.html" class="read-more" style=" line-height: initial; color: #fff; border:solid 2px #fff; text-transform: uppercase; font-weight: 500; letter-spacing: 0px; padding: 16px 36px; display: inline-block; font-size: 18px;">online order</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
            <div class="wave"></div>
        </div>
        <div class="content">
            <ng-view></ng-view>
        </div>
        <!--Start Footer-->
        <footer class="footer" id="footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title">
                            <span>Short Info</span>
                            <h1>Get in touch</h1>
                        </div>
                    </div>
                </div>

                <div class="get-touch">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="contact-us">
                                <h4>Contact Us</h4>
                                <div class="detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean ac.</p>
                                    <ul>
                                        <li class="phone">
                                            <i class="icon-telephone"></i>
                                            <span>+123 55 33 444 888</span>
                                        </li>
                                        <li class="email">
                                            <i class="icon-email-1"></i>
                                            <span>Help@pearl.com</span>
                                        </li>
                                        <li class="location">
                                            <i class="icon-home"></i>
                                            <span>329 Queensberry Street, North Me bourne, Australia.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="open-hours">
                                <h4>Opening Hour</h4>
                                <div class="detail">
                                    <ul>
                                        <li>
                                            <span class="day">Monday</span>
                                            <span class="time">09 am - 10 pm</span>
                                        </li>
                                        <li>
                                            <span class="day">Tuesday</span>
                                            <span class="time">09 am - 10 pm</span>
                                        </li>
                                        <li>
                                            <span class="day">Wednesday</span>
                                            <span class="time">09 am - 10 pm</span>
                                        </li>
                                        <li>
                                            <span class="day">Thursday</span>
                                            <span class="time">09 am - 10 pm</span>
                                        </li>
                                        <li>
                                            <span class="day">Friday</span>
                                            <span class="time">11 am - 08 pm</span>
                                        </li>
                                        <li>
                                            <span class="day">Saturday</span>
                                            <span class="time">10 am - 11 pm</span>
                                        </li>
                                        <li>
                                            <span class="day">Sunday</span>
                                            <span class="time">Closed</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="instagram">
                                <h4>Instagram</h4>
                                <div class="detail">
                                    <div class="col-md-4">
                                        <a ng-href="#.">
                                            <img src="images/instagram-img1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a ng-href="#.">
                                            <img src="images/instagram-img2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a ng-href="#.">
                                            <img src="images/instagram-img3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a ng-href="#.">
                                            <img src="images/instagram-img4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a ng-href="#.">
                                            <img src="images/instagram-img5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a ng-href="#.">
                                            <img src="images/instagram-img6.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-pearl">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-detail">
                                <h5>About Pearl</h5>
                                <p>PEARL is an Lorem ipsum porta placerat rutrum aliquet platea accumsan, molestie eros aliquet
                                    adipiscing egestas ultrices, leo convallis dolor nisl integer potenti fringilla aenean
                                    condimentum ipsum maecenas aliquet consectetur.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="follow-us">
                                <h5>Follow Along</h5>
                                <ul>
                                    <li>
                                        <a ng-href="#.">
                                            <i class="icon-facebook-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-href="#.">
                                            <i class="icon-twitter-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-href="#.">
                                            <i class="icon-google"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-href="#.">
                                            <i class="icon-pinterest-p"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-href="#.">
                                            <i class="icon-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="newsletter">
                                <h5>Newsletter</h5>
                                <div class="field">
                                    <p id="nws_success_msg" class="success_msg" style="display:none">Thank You for subscribing.</p>
                                    <form name="newsletter_form" id="newsletter_form" method="post" onSubmit="return false">
                                        <input name="nws_email_address" id="nws_email_address" type="text" onKeyPress="remove_newsletter_errors();" onblur="if(this.value == '') { this.value='Enter your e-mail address'}"
                                            onfocus="if (this.value == 'Enter your e-mail address') {this.value=''}" value="Enter your e-mail address">
                                        <a ng-href="#." onClick="validateNewsletter();">
                                            <i class="icon-icons208"></i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Copyright © 2016 Pearl Hotel. All rights reserved. by
                                <a ng-href="#.">Brighthemes</a>
                            </span>
                            <ul>
                                <li>
                                    <a ng-href="#.">Permissions and Copyrights</a>
                                </li>
                                <li>
                                    <span class="divid">-</span>
                                </li>
                                <li>
                                    <a ng-href="#.">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        <a ng-href="#0" class="cd-top"></a>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- SMOOTH SCROLL -->
    <script type="text/javascript" src="js/scroll-desktop.js"></script>
    <script type="text/javascript" src="js/scroll-desktop-smooth.js"></script>
    <!-- START REVOLUTION SLIDER -->
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <!-- Countdown -->
    <script type="text/javascript" src="js/countdown.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/cart-detail.js"></script>
    <!-- Mobile Menu -->
    <script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <!-- Form Drop Dow -->
    <script type="text/javascript" src="js/form-dropdown.js"></script>
    <!-- Date Picker and input hover -->
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.js"></script>
    <!-- All Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Switcher -->
    <script type="text/javascript" src="js/switcher-restaurant.js"></script>
    <!-- Date Picker -->
    <script type="text/javascript">
        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
        //date picker
        jQuery("#datepicker").datepicker({
            inline: true
        });
        $(document).ready(function () {

            $(".basic-example").heapbox();

        });
    </script>
    <!-- Revolution Slider -->
    <script type="text/javascript">
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000,
            startwidth: 1170,
            startheight: 900,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "nexttobullets",
            navigationArrows: "solo",
            navigationStyle: "preview",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });
    </script>


</body>

</html>